header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
  background-color: #009bcc;
}

.MuiContainer-root.MuiContainer-maxWidthMd {
  padding-top: 10px;
}

a {
  svg {
    color: white;
  }
  p {
    color: white;
  }
}

.is-active {
  svg {
    color: blue;
    font-size: 25px;
  }
  p {
    color: blue;
  }
}
