.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  background-color: #009bcc;
}
.headerBurgerMenu {
  h2 {
    margin-left: 30px;
  }
}

span.MuiBadge-badge.MuiBadge-anchorOriginTopRightRectangle {
  background-color: #ff9800;
}

svg.MuiSvgIcon-root.closeMenu.MuiSvgIcon-fontSizeLarge {
  margin-left: 170px;
  margin-top: 10px;
}

ul.MuiList-root.logOutMenu.MuiList-padding {
  padding-top: 60vh;
  padding-left: 45px;
}
.logout {
  margin-left: 40px;
  color: black;
  margin-top: 8px;
}
