h2.marginTopHome1 {
  margin-top: 35px;
  text-transform: uppercase;
  margin-left: 10px;
  text-align: left;
  font-size: 20px;
  color: #999999;
}

p.marginTopHome1 {
  // font-style: italic;
  margin: 0;
  margin-left: 10px;
  text-align: left;
}
.marginTopHome1.request {
  background-color: rgba(0, 167, 238, 0.08);
  cursor: pointer;
}
.marginTopHome1.request h3 span {
  color: red;
}

.marginTopHome2 {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}
h2.marginTopHome2 {
  margin-top: 20px;
  margin-bottom: -20px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  margin-top: 5px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.actionNameHP {
  font-size: 15px;
}

.secondaryOpacity75 {
  opacity: 75%;
  font-size: 12px;
}

@media screen and (min-width: 702px) {
  .homeClientLogo {
    justify-self: right;
    align-items: right;
    justify-items: right;
    justify-content: right;
    margin-right: -100px;
  }
  img.makeStyles-staffImg-4 {
    float: right;
    margin-right: 20px;
  }
}
