@import url("//cdn.muicss.com/mui-0.9.41/css/mui.min.css");
@import "./style/custom";
@import "./style/calendar";
@import "./style/header";
@import "./style/footer";
@import "./style/home";
a {
  color: black;
  text-decoration: none;
}
li {
  display: block;
  text-align: center;
}

* {
  text-align: center;
}

.btn {
  border: none;
}

.signupBtn,
.loginBtn,
.logoutBtn,
.btn {
  color: white;
  background-color: #009bcc;
  width: 80%;
  max-width: 300px;
  height: 40px;
  border-radius: 25px;
  margin-top: 25px;
  font-weight: 600;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

.timeWiselogo {
  margin-top: 25%;
}

.logoImg {
  width: 80%;
  max-width: 300px;
}

.navbar-nav {
  display: inline-flex;
}
.navItem {
  margin-left: 10px;
}

.userProfileJson {
  text-align: left;
}
