@import url("//cdn.muicss.com/mui-0.9.41/css/mui.min.css");
@import "./style/custom";
@import "./style/calendar";

a {
  color: black;
  text-decoration: none;
}
li {
  display: block;
  text-align: center;
}
